Команды: <br><br>
Связанные с ботом: <br>
/start - приветственное сообщение <br>
/commands - комманды <br>
/version - версия бота <br><br>

Информационные: <br>
/links - все важные ссылки <br>
/contacts - контакты <br><br>

Расписание: <br>
/today - какая сегодня пара <br>
/tomorrow - какая завтра пара <br>
/this_week - расписание на эту, оставшуюся часть недели <br>
/next_week - расписание на следующую неделю <br>
/whole_schedule - файл со всем расписанием <br><br>

Мемные: <br>
/user_of_day - пидор дня <br>
/user_stat - статистика за месяц <br>
/mqu - мгу <br>
/russia -  РА СИ Я <br>
/recipe - для Макса, от души
