Команды:<br>
<br>
/start - приветственное сообщение<br>
/commands - комманды<br>
<br>
/today - какая сегодня пара<br>
/tomorrow - какая завтра пара<br>
/this_week - расписание на эту, оставшуюся часть недели<br>
/next_week - расписание на следующую неделю<br>
/full_schedule - файл со всем расписанием<br>
<br>
/links - все важные ссылки<br>
/contacts - контакты<br>
<br>
/user_of_day - пользователь дня<br>
/user_stat - статистика за месяц
