Команды:<br><br>
Связанные с ботом:<br>
/start - приветственное сообщение<br>
/commands - комманды<br><br>

Информационные:<br>
/links - все важные ссылки<br><br>

Расписание:<br>
/today - какая сегодня пара<br>
/this_week - расписание на эту неделю