Учебка: <br>
Номер: +7 (495) 223-45-56 <br>
Почта: isikt_rosnou@mail.ru <br>
<br>
Преподаватели: <br>
{% for lecturer in lecturers %}
    {{ lecturer.name }} ({{ lecturer.subject }}): {{ lecturer.email }}<br>
{% endfor %}