Команды бота:<br>
<br>
/start — приветственное сообщение<br>
/help — справка<br>
/links — все важные ссылки<br>
/today — узнать какая сегодня пара и детальная информация о ней<br>
/this_week — расписание на эту неделю