Команды бота:<br>
<br>
/start — приветственное сообщение<br>
/help — справка<br>
/links — все важные ссылки<br>
/contacts — контакты и почты учетелей и учебного офиса<br>
/shedule — расписание на неделю<br>
/today_class — узнать какая сегодня пара и детальная информация о ней<br>
/deadlines — ближайшие дедлайны