Важные ссылки: <br><br>
Оффициальный сайт университета: https://rosnou.ru <br>
Для дистанционки: https://dst.rosnou.ru <br>
Rosnou Portal: https://portal.rosnou.ru <br>
Страница с расписаниями: https://rosnou.ru/student/shedule/ <br>