Важные ссылки: <br><br>
Оффициальный сайт университета: https://rosnou.ru <br>
Для дистанционки: https://dst.rosnou.ru <br>
Расписание: https://rosnou-my.sharepoint.com/:x:/r/personal/atanasovgv_stud_rosnou_ru/_layouts/15/Doc.aspx?sourcedoc=%7BC9872E07-902D-4A99-B2A0-AEF846C6DCFA%7D&file=425в.xlsx&action=default&mobileredirect=true