Ссылки: <br>
<br>
<a href="https://rosnou.ru">Сайт университета</a><br>
<a href="https://dst.rosnou.ru">Для дистанционки</a><br>
<a href="https://portal.rosnou.ru">Rosnou Portal</a><br>
<a href="https://rosnou.ru/student/shedule/">Страница с расписаниями</a><br>
Туфтовый RosnouBOT: @RosnouBOT<br>
<br>
Царский, Православный бот группы 425В: @SharagaNouBot<br>
<a href="https://t.me/+ndYktx1TYrk1NGFi">Канал с материалами по учебе</a><br>