Рецепт хачапури по-аджарски:<br>
<br>
Молоко - 300 г<br>
Вода - 300 г<br>
Дрожи - 20 г<br>
Соль - 20 г<br>
Сахар - 10 г<br>
Подс. масло - 70 г<br>
Мука - 1 кг<br>
Начинка:<br>
Сулугуни и имеретинский (либо другой малосольный) сыр - 1.600 кг<br>
1 яйцо<br>
<br>
Видос с процессом готовки: https://www.youtube.com/watch?v=EG1SkxdqmIA