Привет!<br>
Это SharagaNouBot - Telegram-бот группы 425В.<br>
<br>
Здесь можно посмотреть раписание, узнать о важных ссылках или контактах, 
ну или выбрать пользователя дня. А еще бот отвечает на разные сообщения.<br>
<br>
Например, напиши фразу "какая сегодня пара?" или "Россия" 
или даже "рецепт хачапури по-аджарски".<br>
<br>
Гитхаб проекта: https://github.com/augustsalimov/sharaga-telebot<br>
<br>
{% extends "commands.j2" %}