Привет!<br>
Это SharagaNouBot - Telegram-бот группы 425В.<br>
<br>
Здесь можно посмотреть раписание, 
узнать о важных ссылках или контактах, 
ну или выбрать пользователя дня.<br>
А еще бот отвечает на разные сообщения.<br>
Гитхаб проекта: https://github.com/augustsalimov/sharaga-telebot<br>
<br>
{% extends "commands.j2" %}