Привет! <br>
Это Telegram-бот группы 425В. <br><br>
Здесь можно посмотреть раписание, узнать о важных ссылках или контактах. <br>
Гитхаб проекта: https://github.com/augustsalimov/sharaga-telebot <br><br>
{% extends "commands.j2" %}