Версия бота: 1.3.0<br>
Дата релиза: 15-02-2023<br>
<br>
Что нового<br>
- Теперь бот отвечает не только на комманды, но и на сообщения<br>
- Исправлен баг с выбором пользователя без username<br>
- Комманды связанные с выбором пользователя доступны только в чате группы 425<br>