Версия бота: 1.2.1<br>
Дата релиза: 14-02-2023<br>
<br>
Что нового<br>
- Можно выбирать пользователя дня - добавились комманды /user_of_day, /user_stat<br>
- Ссылки стали красивее<br>
- Теперь мемные команды доступны только в общем чате<br>
- Технические фиксы, код стал быстрее, шустрее и красивее