Версия бота: 1.0.0 <br>
Дата релиза: 12-02-2023 <br><br>
Что нового <br>
Первая стабильная версия: поменялись названия существующих комманд, 
добавились комманды /version, /tomorrow, /next_week, /whole_schedule, /mqu.